<!--
@author Priyandari
@email priyandari@***.id
@create date 2020-05-05 16:00:58
@modify date 2020-05-05 16:00:58
@desc [description]
-->
<html>
    <head>
        <head>
            <title>Penanganan Form</title>
        </head>
    </head>
    <body>
        <h2>Penanganan Form</h2>
        <form action="/" method="POST">
            Nama: <br>
            <input type="text" name="nama" size="25"><br>
            Email: <br>
            <input type="email" name="email" size="25"><br>
            <p><input type="submit" value="Kirim"></p> 
        </form>
    </body>

</html>