<!DOCTYPE html>
<html>
<head>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="static/css/style.css" type="text/css">

</head>
<body style="background-color: black; margin: 0;">

<audio id="over_music">
    <source src="{{ url_for('static', filename='images/beepbeep.mp3') }}">
</audio>
<div class="row">
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box" style="color: white;">Responsive</div>
    </div>
</div>
<div>
    <div class="masjid-info" >
        <div class="masjid-info">Mushola As Salam</div>
        <div id="txtdatetime">1 Jun 2020</div>
        <hr>
    </div>
</div>

<div>    
    <table class="timer" style="width: 100%;">
    <tr><td style="width: 30%; text-align: left;"></td><td></td><td style="width: 30%; text-align: right;"></td></tr>
    <tr><td>Subuh</td><td><p id="time"><div id="txttime" style="text-align: center;">
    </div> <!-- /#txttime --></p></td><td>Maghrib</td></tr>
    <tr><td><div id="txtfajr">
    </div></td><td></td><td> </td></tr>
    <tr><td></td><td>_____</td><td></td></tr>
    <tr><td>Zhuhur</td><td>'Ashar</td><td>'Isya'</td></tr>
    <tr><td></td><td></td><td></td></tr>
    </table>
</div>

</body>
</html>
