<html>
    <head>
        <title>Flask-moment and moment.js</title>
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}

        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/moment.js"></script>
        <script type="text/javascript" src="static/js/moment-with-locales.js"></script>

    </head>
    <body>
        <h1>Jadwal Waktu Sholat</h1>
        <h1>Mushola As-Salam</h1>

    </body>
</html>