<html>
    <head>
        <title>Tambah Data</title>
    </head>
    <body>
        <h2>Tambah Data</h2>
        <form action="{{url_for('add')}}" method="POST">
            Kode:<br>
            <input type="text" name="kode" size="15" maxlength="4"><br>
            Judul Buku:<br>
            <input type="text" name="judul" size="50" maxlength="40"><br>
            Penulis:<br>
            <input type="text" name="penulis" size="30" maxlength="25"><br>
            <p><input type="submit" value="Simpan"></p>
        </form>
    </body>
</html>